/* 🔥Overall Design🔥 */
body {
    font-family: 'Roboto', sans-serif; /* Use the font of your choice */
    line-height: 1.2;
    font-size: 14px;
    overflow-y: auto;
}

#link {
    color: #4563b0; 
    text-decoration: none;
}


/* 🔥Menu Bar Section🔥 */
#menu-bar {
    border-bottom: 0.1px solid #d8dae6; /* Add a 1px solid black border at the bottom */
    padding-bottom: 10px;
    width: 100%;
}

#menu-bar li{
    padding:10px;
}

#menu-bar ul li a:hover {
    color: #7482db; /* Change the color to blue when hovering */
}

header {
    padding-top: 1%;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing as needed */
}


header ul li a {
    color: #000; /* Set the desired link color (e.g., black) */
    text-decoration: none; /* Remove underlines from the links */
}


header ul li a {
    color: #000; /* Set the desired link color (e.g., black) */
    text-decoration: none; /* Remove underlines from the links */
}


/* 🔥🔥🔥Main content Section🔥🔥🔥 */
.main-content {
    text-align: center;
    margin-bottom: 500px;
    line-height: 1.5;
}

#thumbnail {
    height: 300px;
}

/* 🔥Each pages🔥 */

  
#long-explanation{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50px;
}

#explanation-paragraph {
    margin-bottom: 50px;
    line-height: 1.5;
}

.date{
    color: grey;
}

#proj1-table {
    width: 500px;
}

.buttons {
    border: 1px solid #ddd;
    line-height: 1.5;
    text-decoration: none; /* Remove underlines from the links */
    color: #4b4c52;
    padding: 10px;
    background-color: #edeffa;
    border-radius: 15%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

.buttons:hover {
    background-color: #c5c6d1; /* Change the background color on hover */
    color: #edeffa; /* Change the text color on hover */
}

.proj4-thumbnail {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.proj4-img1 {
    width: 400px;
}
.proj4-img2 {
    width: 450px;
}
.proj4-content {
    padding-left: 20%; /* 왼쪽으로 20px 들여쓰기 적용 */
  }
  
  ol {
    list-style-type: decimal; /* 숫자 목록 스타일 */
  }
  
  ul {
    list-style-type: disc; /* 원형 목록 스타일 */
  }
  
  li {
    margin-top: 10px; /* 항목 간 간격 설정 */
  }

.proj5-content 
    li {
        list-style-type: decimal; /* 숫자 목록 스타일 */
      }

/* 🔥[Common] Media Section🔥 */
#media-section {
    position: fixed;
    width: 100%;
    height: 50px;
    text-align: center;
    bottom: 40px;
    border: 1px solid #ddd;
    line-height: 1.5;
    background-color: white;
}

#personal-link {
    color: #282936; 
    text-decoration: none;
}

#personal-link:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Increase the box shadow on hover */
}

#media-section a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Change the link color as needed */
}

#media-section h4 {
    display: inline;
    margin-right: 10px; /* Add space between links */
}


#icon-img {
    margin-right: 5px; /* Add space between the image and text */
    margin-left: 15px;
    width: 18px;
    height: 18px;
}


/* 🔥Footers🔥 */
.copyright-bar {
    position: dixe;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    width: 100%;
    height: 30px;
    position: fixed;
    bottom: 0;
}
