body {
    font-family: 'Roboto', sans-serif; /* Use the font of your choice */
}

#title-name {
    font-size: 40px; /* Adjust the size as needed */
    font-weight: bold; /* or font-weight: 700; to make it thicker */
}

#link {
    color: #4563b0; 
    text-decoration: none;
}

#personal-link {
    color: #282936; 
    text-decoration: none;
}

header {
    padding-top: 1%;
}

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px; /* Adjust the spacing as needed */
}

/* Style the links in your navigation */
header ul li a {
    color: #000; /* Set the desired link color (e.g., black) */
    text-decoration: none; /* Remove underlines from the links */
}


/* Style the profile image */
#profile-image {
    border-radius: 3%; /* Makes the image round */
    width: 75%; /* Adjust the width as needed */
    height: 100%; /* Adjust the height as needed */
    object-fit: cover; /* Ensures the image covers the entire space, cropping if necessary */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
}

/* Add your CSS styles for better presentation */
#content {
    display: flex;
    align-items: center;
    padding-top: 5%;
}

.left-section {
    flex: 1;
    padding-left: 10%;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.right-section {
    flex: 2;
    padding-right: 10%;
}

.social-links a {
    text-decoration: none;
    margin-right: 10px;
}

/* Center the footer vertically and position it at the bottom of the page */
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 5%; /* Optional: Add padding to the footer for spacing */
}

#footer a {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #000; /* Change the link color as needed */
    margin-right: 10px; /* Add space between links */
}

#icon-img {
    margin-right: 5px; /* Add space between the image and text */
    margin-left: 15px; 
}
